extends ./layouts/common.pug
block content
  .container
    h1 Welcome to my library
    h2
      a(href="/users") Users
    h2
      a(href="/books") Books
    h2
      a(href="/transactions") Transactions
    
    