extends ../../layouts/common.pug
block content
  .container.mt-5
    form(action="/shop/search", method="GET")
      .form-group
        input.form-control(type="text", name="q")
      button.btn.btn-primary Search
    .d-flex.justify-content-between.mb-3.align-items-center
      p 
        b Sách hiện có
      a.btn.btn-primary(href='/shop/cart/' + id) Cart       
    .row.mb-3
      each book in books
        .col-3
          .card.mb-3
            img.card-img-top(src="https://loremflickr.com/320/240")
            .card-body
              h5.card-title= book.title
              p.card-text= book.description
              .d-flex.justify-content-between
                a.btn.btn-primary(href='/shop/cart/add/' + book._id) Add to cart
    
    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href='/shop/' + id + '/books?page=' + (page-1)) Previous   
        li.page-item
          a.page-link(href='/shop/' + id + '/books?page=' + page)= page
        li.page-item
          a.page-link(href='/shop/' + id + '/books?page=' + (page + 1)) Next    
