extends ../layouts/common.pug
block content
  .container
    h1  Books
      form(method="GET")
        input(type="text", name="q")
        button Search
      ul
        each book in books
          li
            span= book.title
            span 
            a(href='/shop/update/'+ book._id) Update